@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Playfair+Display&family=Prompt:wght@500&display=swap');

* {
	box-sizing: border-box;
}



/* Custom class for the modal popup */
.custom-popup {
	max-height: 80vh; /* Prevent overflow */
	overflow-y: auto; /* Allow scrolling */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
  }
  
  /* Custom class for the title */
  .custom-title {
	font-size: 24px; /* Default font size */
	margin-bottom: 20px; /* Space between title and buttons */
	text-align: center; /* Center align the title */
  }
  
  /* Custom button styles */
  .custom-btn {
	padding: 10px 20px; /* Button padding */
	font-size: 16px; /* Default button font size */
	margin-top: 10px; /* Space between buttons */
  }
  
  /* Responsive styles */
@media (max-width: 1200px) and (max-width: 100vh) {
	/* Adjust title for smaller screens */
	.custom-title {
	  font-size: 20px;
	  margin-bottom: 10px; /* Reduce space between title and buttons */
	  transform: translateY(-15%);
	}
  
	/* Adjust popup for smaller screens */
	.custom-popup {
	  max-width: 90%; /* Limit the width for smaller screens */
	  padding: 15px; /* Add padding */
	}
  
	/* Adjust button size */
	.custom-btn {
	  font-size: 20px; /* Smaller font for buttons */
	  padding: 8px 16px; /* Adjust padding */
	}
  }
  
  @media (max-width: 480px) {
	/* Adjust title for very small screens */
	.custom-title {
	  font-size: 18px;
	  margin-bottom: 8px;
	  transform: translateY(-20%);
	}
  
	/* Adjust popup for very small screens */
	.custom-popup {
	  max-width: 95%;
	  padding: 10px;
	}
  
	/* Adjust button size for small screens */
	.custom-btn {
	  font-size: 18px; /* Even smaller font for buttons */
	  /* padding: 6px 12px; Adjust padding further */
	}
  }
  

.pre-registration-body {
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5px;
}

.pre-reg-container {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50%;
    top: 50%;
    left: 50%;
    height: 80%;
	background-color: rgba(255, 255, 255, 0);
}
.pre-reg-container h1 {
	font-weight: bold;
	margin-top: 1vh;
	color: white;
	margin-bottom: 15px;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
}


.pre-reg-form-overlay-panel p {
	font-size: 20px;
	font-weight: 100;
	margin: 0px 0 30px;
}



.pre-reg-container button {
	border-radius: 15px;
	/* opacity: 0.5; */
	background-color: white;
	color: black;
	font-size: 15px;
	font-weight: bold;
	padding: 15px 20px;
	letter-spacing: 1px;
	transition: transform 80ms ease-in;
	font-family: Arial, Helvetica, sans-serif;

}



.pre-reg-container button:hover {
	background-color: #940d04;
	transform: scale(0.95);
}

.pre-reg-container button:active {
	transform: scale(0.95);
}

.pre-reg-container button:focus {
	outline: none;
}

.button-switch {
	background-color: #e07d55;
}

.pre-reg-container button.pre-reg-ghost {
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	opacity: 0.8;
	/* border: 3px solid #e07d55; */
}

.pre-reg-container form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* padding: 30px 15px; */
	height: 100%;
	text-align: center;
}



.pre-reg-container input,
.pre-reg-container select {
	background-color: white;
	opacity: 0.5;
	border-radius: 10px;
	color: black;
	font-weight: 700;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	/* max-width: 400px; */
	/* min-height: max-content; */
	width: 80%;
	outline: none;
}

@media (max-width: 850px) {
	.pre-reg-container{
		width: 70%;
	}
	
}

.pre-reg-container ::placeholder {
	color: black;
	font-weight: 700;
}


.pre-reg-form-container {
	/* background: white; */
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.pre-reg-sign-in-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    width: 100%;
    z-index: 2;
    padding: 20px;
}

.pre-reg-container.pre-reg-right-panel-active .pre-reg-sign-in-container {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	transform: translateX(100%);
}

.pre-reg-sign-up-container {
	background-color: white;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
	margin-bottom: 1vh;
}

input:not(:placeholder-shown) {
	opacity: 1; 
}
  
input:not(:placeholder-shown)::placeholder {
	opacity: 0;
}
  
select option[value=""][disabled]:not(:checked) {
	display: none; 
}

.error-input {
	border: 2px solid red;
	color: red;
}
  
.error-input::placeholder {
	color: red;
	font-size: 0.9rem;
	opacity: 1; /* Adjust size if needed */
}

/*
.pre-reg-container.right-panel-active .pre-reg-sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}
*/
@keyframes show {

	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

/*
.pre-reg-form-overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.pre-reg-container.pre-reg-right-panel-active .pre-reg-form-overlay-container {
	transform: translateX(-100%);
}

.pre-reg-form-overlay {
	background: #ffffffbc;
	border-radius: 20px;
	color: #000000;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.pre-reg-container.pre-reg-right-panel-active .pre-reg-form-overlay {
	transform: translateX(50%);
}

.pre-reg-form-overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.pre-reg-form-overlay-left {
	transform: translateX(-20%);
}

.pre-reg-container.pre-reg-right-panel-active .pre-reg-form-overlay-left {
	transform: translateX(0);
}

.pre-reg-form-overlay-right {
	right: 0;
	transform: translateX(0);
}

.pre-reg-container.pre-reg-right-panel-active .pre-reg-form-overlay-right {
	transform: translateX(20%);
}

.pre-reg-social-container {
	margin: 20px 0;
}

.pre-reg-social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


.pre-reg-error-msg {
	color: #940d04;
	font-size: 13px;
	margin: 0;
}
*/
@media only screen and (max-width: 850px) {
	.pre-reg-ghost button  {
		width: 20px;
	}

	.pre-reg-container form h1 {
		font-size: 30px;
	}

	.pre-reg-container h1 {
		font-size: 35px;
	}

	.pre-registration-container {
		width: 100%;
	}
}
/*

@media only screen and (max-width: 605px) {
	.pre-reg-form-overlay-container {
		display: none;
	}

	.pre-reg-sign-in-container {
		width: 100%;
		border-radius: 20px;
	}

	.pre-reg-container {
		width: 90%;
	}

	.pre-reg-container button {
		border-radius: 10px;
		border: 1px solid #e07d55;
		background-color: #e07d55;
		color: #FFFFFF;
		font-size: 20px;
		font-weight: bold;
		padding: 10px 15px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: transform 80ms ease-in;
	}

	.pre-reg-container form h1 {
		font-size: 42px;
	}
}*/